In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from nba_api.stats.static import teams
from nba_api.stats.endpoints import playbyplay
jordan_id = 893
jordan_team_id = 1610612741

In [2]:
# Query for the last regular season game where the Pacers were playing
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType

gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable = jordan_team_id,
                            season_nullable=Season.default,
                            season_type_nullable=SeasonType.regular)  

games_dict = gamefinder.get_normalized_dict()
games = games_dict['LeagueGameFinderResults']
game = games[0]
game_id = game['GAME_ID']
game_matchup = game['MATCHUP']

In [3]:
from nba_api.stats.endpoints import playbyplay
df = playbyplay.PlayByPlay(game_id).get_data_frames()[0]
df.head(10)

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
0,0022201223,2,12,0,1,1:13 PM,12:00,None,Start of 1st Period (1:13 PM EST),None,None,None
1,0022201223,4,10,0,1,1:13 PM,12:00,Jump Ball Vucevic vs. Wiseman: Tip to LaVine,None,None,None,None
2,0022201223,7,1,47,1,1:13 PM,11:40,DeRozan 9' Turnaround Jump Shot (2 PTS),None,None,0 - 2,2
3,0022201223,9,1,6,1,1:14 PM,11:18,None,None,Hayes 2' Driving Layup (2 PTS),2 - 2,TIE
4,0022201223,10,2,1,1,1:14 PM,11:02,MISS LaVine 21' Jump Shot,None,None,None,None
5,0022201223,11,4,0,1,1:14 PM,10:56,None,None,Hayes REBOUND (Off:0 Def:1),None,None
6,0022201223,12,2,1,1,1:14 PM,10:53,None,None,MISS Ivey 27' 3PT Jump Shot,None,None
7,0022201223,13,4,0,1,1:14 PM,10:51,DeRozan REBOUND (Off:0 Def:1),None,None,None,None
8,0022201223,14,1,52,1,1:14 PM,10:48,LaVine Alley Oop Dunk (2 PTS) (DeRozan 1 AST),None,None,2 - 4,2
9,0022201223,16,6,1,1,1:14 PM,10:32,Caruso P.FOUL (P1.T1) (M.Smith),None,None,None,None

In [4]:
import pandas
pandas.set_option('display.max_colwidth',250)
pandas.set_option('display.max_rows',250)

In [5]:
from enum import Enum

class EventMsgType(Enum):
    FIELD_GOAL_MADE = 1
    FIELD_GOAL_MISSED = 2
    FREE_THROWfree_throw_attempt = 3
    REBOUND = 4
    TURNOVER = 5
    FOUL = 6
    VIOLATION = 7
    SUBSTITUTION = 8
    TIMEOUT = 9
    JUMP_BALL = 10
    EJECTION = 11
    PERIOD_BEGIN = 12
    PERIOD_END = 13

In [15]:
df.loc[df['EVENTMSGTYPE'] == 2].head(5)

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
4,0022201223,10,2,1,1,1:14 PM,11:02,MISS LaVine 21' Jump Shot,None,None,None,None
6,0022201223,12,2,1,1,1:14 PM,10:53,None,None,MISS Ivey 27' 3PT Jump Shot,None,None
10,0022201223,18,2,6,1,1:15 PM,10:21,Caruso BLOCK (1 BLK),None,MISS Wiseman 2' Driving Layup,None,None
13,0022201223,23,2,79,1,1:15 PM,10:01,None,None,MISS Hayes 18' Pullup Jump Shot,None,None
19,0022201223,32,2,79,1,1:17 PM,8:55,Caruso BLOCK (2 BLK),None,MISS Ivey 12' Pullup Jump Shot,None,None

In [7]:
import re
import operator

#the following expression is specific to EventMsgType 1
p = re.compile('(\s{2}|\' )([\w+ ]+)')

#get the PlayByPlay data from the Pacers game_id
plays = playbyplay.PlayByPlay(game_id).get_normalized_dict()['PlayByPlay']

#declare a few variables
description = ''
event_msg_action_types = {}

#loop over the play by play data
for play in plays:
    if play['EVENTMSGTYPE'] == 1:
        if play['HOMEDESCRIPTION']:
            description = play['HOMEDESCRIPTION']
        else:
            description = play['VISITORDESCRIPTION']
        if p.search(description):
            #do a bit of searching(regex) and a little character magic: underscores and upper case
            event_msg_action = re.sub(' ', '_', p.search(description).groups()[1].rstrip()).upper()
            #Add it to our dictionary
            event_msg_action_types[event_msg_action] = play['EVENTMSGACTIONTYPE']
            
#sort it all
event_msg_action_types = sorted(event_msg_action_types.items(), key=operator.itemgetter(0))

#output a class that we could plug into our code base
for action in event_msg_action_types:
    print(f'\t{action[0]} = {action[1]}')

	3PT_JUMP_SHOT = 1
	3PT_PULLUP_JUMP_SHOT = 79
	3PT_STEP_BACK_JUMP_SHOT = 80
	CUTTING_LAYUP_SHOT = 98
	DRIVING_FINGER_ROLL_LAYUP = 75
	DRIVING_FLOATING_BANK_JUMP_SHOT = 102
	DRIVING_FLOATING_JUMP_SHOT = 101
	DRIVING_HOOK_SHOT = 57
	DRIVING_LAYUP = 6
	DUNK = 7
	FLOATING_JUMP_SHOT = 78
	JUMP_SHOT = 1
	LAYUP = 5
	PULLUP_JUMP_SHOT = 79
	RUNNING_LAYUP = 41
	STEP_BACK_JUMP_SHOT = 80
	TURNAROUND_HOOK_SHOT = 58
	TURNAROUND_JUMP_SHOT = 47

In [8]:
#get the PlayByPlay data from the Pacers game_id
plays = playbyplay.PlayByPlay(game_id).get_normalized_dict()['PlayByPlay']

#declare a few variables
description = ''
event_msg_action_types = {}

#loop over the play by play data
#do a bit of findall(regex) and a little character magic: underscores and upper case
#we're using a findall here as we have to deal with the extra word MISS at the beginning of the text.
#that extra text means we'll have multiple matches for our regex.
for play in plays:
    if play['EVENTMSGTYPE'] == 2:
        match = list()
        if play['HOMEDESCRIPTION'] is not None: 
            match = p.findall(play['HOMEDESCRIPTION'])

            #looking for blocks
            if len(match) & (play['VISITORDESCRIPTION'] is not None):
                print(play['VISITORDESCRIPTION'])

        else:
            match = p.findall(play['VISITORDESCRIPTION'])
            
            #looking for blocks
            if len(match) & (play['HOMEDESCRIPTION'] is not None):
                print(play['HOMEDESCRIPTION'])
        if match:
            event_msg_action = re.sub(' ', '_', match[0][1]).upper()
            event_msg_action_types[event_msg_action] = play['EVENTMSGACTIONTYPE']
            
event_msg_action_types = sorted(event_msg_action_types.items(), key=operator.itemgetter(0))

print("")
for action in event_msg_action_types:
    print(f'{action[0]} = {action[1]}')

Wiseman BLOCK (1 BLK)
Duren BLOCK (1 BLK)
Hayes BLOCK (1 BLK)

3PT_JUMP_SHOT = 1
3PT_PULLUP_JUMP_SHOT = 79
3PT_STEP_BACK_JUMP_SHOT = 80
ALLEY_OOP_LAYUP = 43
DRIVING_DUNK = 9
DRIVING_FLOATING_BANK_JUMP_SHOT = 102
DRIVING_FLOATING_JUMP_SHOT = 101
DRIVING_HOOK_SHOT = 57
DRIVING_LAYUP = 6
DRIVING_REVERSE_LAYUP = 73
FADEAWAY_JUMPER = 63
FLOATING_JUMP_SHOT = 78
JUMP_SHOT = 1
LAYUP = 5
PULLUP_JUMP_SHOT = 79
PUTBACK_LAYUP = 72
RUNNING_LAYUP = 41
TIP_LAYUP_SHOT = 97
TURNAROUND_JUMP_SHOT = 47

In [9]:
play = pd.read_csv("play_by_play.csv")
play.columns

Index(['game_id', 'eventnum', 'eventmsgtype', 'eventmsgactiontype', 'period',
       'wctimestring', 'pctimestring', 'homedescription', 'neutraldescription',
       'visitordescription', 'score', 'scoremargin', 'person1type',
       'player1_id', 'player1_name', 'player1_team_id', 'player1_team_city',
       'player1_team_nickname', 'player1_team_abbreviation', 'person2type',
       'player2_id', 'player2_name', 'player2_team_id', 'player2_team_city',
       'player2_team_nickname', 'player2_team_abbreviation', 'person3type',
       'player3_id', 'player3_name', 'player3_team_id', 'player3_team_city',
       'player3_team_nickname', 'player3_team_abbreviation',
       'video_available_flag'],
      dtype='object')

In [2]:
game_summ = pd.read_csv("game_summary.csv")
game_summ

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60791,2023-03-12 00:00:00,3.0,22201016,3,Final,20230312/WASPHI,1610612755,1610612764,2022,4,,NaN,Q4 -,1
60792,2023-03-12 00:00:00,5.0,22201018,3,Final,20230312/OKCSAS,1610612759,1610612760,2022,4,,NaN,Q4 -,1
60793,2023-03-12 00:00:00,4.0,22201017,3,Final,20230312/PORNOP,1610612740,1610612757,2022,4,,NaN,Q4 -,1
60794,2023-03-12 00:00:00,6.0,22201019,3,Final,20230312/NYKLAL,1610612747,1610612752,2022,4,,ESPN,Q4 - ESPN,1
60795,2023-03-12 00:00:00,1.0,22201014,3,Final,20230312/BKNDEN,1610612743,1610612751,2022,4,,NaN,Q4 -,1

In [11]:
play = play.drop(['player1_name', 'player1_team_id', 'player1_team_city',
       'player1_team_nickname', 'player1_team_abbreviation', 'player2_team_city',
       'player2_team_nickname', 'player2_team_abbreviation', 'player3_name', 'player3_team_id', 'player3_team_city',
       'player3_team_nickname', 'player3_team_abbreviation', 'video_available_flag', 'person1type', 'person2type', 'person3type'], axis = 1)

In [12]:
temp = game_summ.loc[game_summ["season"] == 1984]
for i in [1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]:
    temp = temp.append(game_summ.loc[game_summ["season"] == i])
game_summ = temp
temp = pd.DataFrame()
game_summ

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
19822,1984-10-26 00:00:00,NaN,28400002,3,NaN,19841026/CLEPHL,1610612755,1610612739,1984,4,NaN,NaN,Q4 -,1
19823,1984-10-26 00:00:00,NaN,28400006,3,NaN,19841026/PHXGOS,1610612744,1610612756,1984,4,NaN,NaN,Q4 -,1
19824,1984-10-26 00:00:00,NaN,28400003,3,NaN,19841026/BOSDET,1610612765,1610612738,1984,4,NaN,NaN,Q4 -,1
19825,1984-10-26 00:00:00,NaN,28400005,3,NaN,19841026/WASCHI,1610612741,1610612764,1984,4,NaN,NaN,Q4 -,1
19826,1984-10-26 00:00:00,NaN,28400001,3,NaN,19841026/UTHSEA,1610612760,1610612762,1984,4,NaN,NaN,Q4 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34031,1999-05-05 00:00:00,9.0,29800721,3,Final,19990505/MINPHX,1610612756,1610612750,1998,4,NaN,NaN,Q4 -,1
34032,1999-05-05 00:00:00,6.0,29800718,3,Final,19990505/CLETOR,1610612761,1610612739,1998,4,NaN,NaN,Q4 -,1
34033,1999-05-05 00:00:00,2.0,29800714,3,Final,19990505/MIANYK,1610612752,1610612748,1998,4,NaN,NaN,Q4 -,1
34034,1999-05-05 00:00:00,13.0,29800725,3,Final,19990505/VANSAC,1610612758,1610612763,1998,4,NaN,NaN,Q4 -,1
34035,1999-05-05 00:00:00,4.0,29800716,3,Final,19990505/DETPHI,1610612755,1610612765,1998,5,NaN,NaN,Q5 -,1

In [13]:
game_ids = game_summ[game_summ["visitor_team_id"] == jordan_team_id]["game_id"].values.tolist()
temp = game_summ[game_summ["home_team_id"] == jordan_team_id]["game_id"].values.tolist()
for i in temp:
    game_ids.append(i)

In [14]:
temp = play.loc[play["game_id"] == game_ids.pop(0)]
for i in game_ids:
    temp = temp.append(play.loc[play["game_id"] == i])
play = temp
play

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,score,scoremargin,player1_id,player2_id,player2_name,player2_team_id,player3_id
4272,29600001,1,12,0,1,11:15 PM,12:00,NaN,Start of 1st Period (11:15 PM EST),NaN,NaN,NaN,0,0,NaN,NaN,0
4273,29600001,2,10,0,1,11:16 PM,12:00,Jump Ball Ellison vs. Longley: Tip to Harper,NaN,NaN,NaN,NaN,442,26,Luc Longley,1.610613e+09,166
4274,29600001,4,1,5,1,11:16 PM,11:39,NaN,NaN,Rodman Layup (2 PTS) (Longley 1 AST),2 - 0,-2,23,26,Luc Longley,1.610613e+09,0
4275,29600001,5,6,2,1,11:16 PM,11:39,Ellison S.FOUL (P1.T1),NaN,NaN,NaN,NaN,442,0,NaN,NaN,0
4276,29600001,6,3,10,1,11:17 PM,11:39,NaN,NaN,Rodman Free Throw 1 of 1 (3 PTS),3 - 0,-3,23,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339819,29800719,419,2,1,4,1:56 AM,0:28,MISS LaRue 24' 3PT Jump Shot,NaN,NaN,NaN,NaN,1601,0,NaN,NaN,0
1339820,29800719,420,4,0,4,1:56 AM,0:26,NaN,NaN,Wilkins REBOUND (Off:0 Def:2),NaN,NaN,1122,0,NaN,NaN,0
1339821,29800719,421,1,5,4,1:56 AM,0:23,NaN,NaN,Strong Layup (10 PTS) (Wilkins 1 AST),103 - 81,-22,400,1122,Dominique Wilkins,1.610613e+09,0
1339822,29800719,422,1,5,4,1:56 AM,0:05,Benjamin Layup (4 PTS),NaN,NaN,103 - 83,-20,1736,0,NaN,NaN,0
1339823,29800719,423,13,0,4,1:56 AM,0:00,NaN,End of 4th Period (1:56 AM EST),NaN,103 - 83,-20,0,0,NaN,NaN,0

In [27]:
play.head(20)

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,score,scoremargin,player1_id,player2_id,player2_name,player2_team_id,player3_id
4272,29600001,1,12,0,1,11:15 PM,12:00,NaN,Start of 1st Period (11:15 PM EST),NaN,NaN,NaN,0,0,NaN,NaN,0
4273,29600001,2,10,0,1,11:16 PM,12:00,Jump Ball Ellison vs. Longley: Tip to Harper,NaN,NaN,NaN,NaN,442,26,Luc Longley,1.610613e+09,166
4274,29600001,4,1,5,1,11:16 PM,11:39,NaN,NaN,Rodman Layup (2 PTS) (Longley 1 AST),2 - 0,-2,23,26,Luc Longley,1.610613e+09,0
4275,29600001,5,6,2,1,11:16 PM,11:39,Ellison S.FOUL (P1.T1),NaN,NaN,NaN,NaN,442,0,NaN,NaN,0
4276,29600001,6,3,10,1,11:17 PM,11:39,NaN,NaN,Rodman Free Throw 1 of 1 (3 PTS),3 - 0,-3,23,0,NaN,NaN,0
4277,29600001,7,1,1,1,11:17 PM,11:06,Wesley 20' Jump Shot (2 PTS),NaN,NaN,3 - 2,-1,133,0,NaN,NaN,0
4278,29600001,43,2,1,1,11:17 PM,11:06,NaN,NaN,MISS Jordan 15' Jump Shot,NaN,NaN,893,0,NaN,NaN,0
4279,29600001,44,4,0,1,11:17 PM,11:06,Wesley REBOUND (Off:0 Def:1),NaN,NaN,NaN,NaN,133,0,NaN,NaN,0
4280,29600001,8,1,6,1,11:17 PM,11:02,Williams Driving Layup (2 PTS) (Wesley 1 AST),NaN,NaN,3 - 4,1,677,133,David Wesley,1.610613e+09,0
4281,29600001,9,1,5,1,11:17 PM,10:46,NaN,NaN,Pippen Layup (2 PTS) (Longley 2 AST),5 - 4,-1,937,26,Luc Longley,1.610613e+09,0
4282,29600001,10,5,1,1,11:18 PM,10:34,Williams Bad Pass Turnover (P1.T1),NaN,Harper STEAL (1 STL),NaN,NaN,677,166,Ron Harper,1.610613e+09,0
4283,29600001,11,1,7,1,11:18 PM,10:29,NaN,NaN,Pippen Dunk (4 PTS) (Harper 1 AST),7 - 4,-3,937,166,Ron Harper,1.610613e+09,0
4284,29600001,12,5,4,1,11:18 PM,10:15,Ellison Traveling Turnover (P1.T2),NaN,NaN,NaN,NaN,442,0,NaN,NaN,0
4285,29600001,13,1,3,1,11:18 PM,9:59,NaN,NaN,Pippen 8' Hook Shot (6 PTS),9 - 4,-5,937,0,NaN,NaN,0
4286,29600001,14,2,5,1,11:19 PM,9:46,MISS Williams Layup,NaN,NaN,NaN,NaN,677,0,NaN,NaN,0
4287,29600001,15,4,0,1,11:19 PM,9:45,NaN,NaN,Pippen REBOUND (Off:0 Def:1),NaN,NaN,937,0,NaN,NaN,0
4288,29600001,16,5,4,1,11:19 PM,9:23,NaN,NaN,Longley Traveling Turnover (P1.T1),NaN,NaN,26,0,NaN,NaN,0
4289,29600001,17,2,1,1,11:19 PM,9:09,MISS Wesley 24' 3PT Jump Shot,NaN,NaN,NaN,NaN,133,0,NaN,NaN,0
4290,29600001,18,4,0,1,11:20 PM,9:06,Ellison REBOUND (Off:1 Def:0),NaN,NaN,NaN,NaN,442,0,NaN,NaN,0
4291,29600001,19,1,5,1,11:20 PM,9:06,Ellison Layup (2 PTS),NaN,NaN,9 - 6,-3,442,0,NaN,NaN,0

In [31]:
count = 0
found = False
to_be_deleted = []
for row in play.iterrows():
    if count == 0:
        print(row[1]["visitordescription"])
        print(row[1]["homedescription"])
    if row[1]["visitordescription"] is not None:
        if "Jordan" in row[1]["visitordescription"]:
            found = True
    if row[1]["homedescription"]:
        if "Jordan" in row[1]["homedescription"]:
            found = True
    if not found: 
        to_be_deleted.append(count)
        found = False
    count += 1
play.drop(to_be_deleted)

nan
nan

TypeError: argument of type 'float' is not iterable